.whiteCategory{
    background-color: #fff;
    border-radius: 5px;
}
.categoryTitle{
    padding: 2rem;
}
.categoryTitle p{
    font-family: IRANSans-Bold;
    color: #1a1a1a;
    font-size: 15px;
    margin-bottom: 0px;
}
.w100{
    width: 100%;
    margin: 0px !important;
}
.categoryBlog li a{
    text-decoration: none;
    color: #1a1a1a;
    font-family: IRANSans;
}
.categoryBlog li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashedBlackHr{
    border-top-style: dashed;
}
.boldText{
    font-family: IRANSans-Bold;
}
.blogBox{
    background-color: #fff;
}
.blackRow{
    border-bottom: solid 5px #f6303f;
  background-color: #222;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.blogBoxTitle{
    color: #f6303f;
    font-family: IRANSans-Medium;
    font-size: 22px;
    margin-bottom: 0px;
}
.userName{
    font-family: IRANSans;
    color: #a0a0a0;
    margin-bottom: 0px;
    font-size: 12px;
    margin-right: 5px;
}
.borderRight1{
    border-right: 1px solid #a0a0a0;
    padding-right: 30px;
    padding-left: 30px;
}
.Blogimg{
    width: 100%;
    height: 230px;
}
.blogDes{
    color: #616161;
    font-family: IRANSans-Light;
    line-height: 2;
    font-size: 14px;
}
.pdrightleft2{
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
.suggestionBlogBox{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 8px solid #f6303f;
    padding: 2rem;
}
.SuggestionTitle{
    font-family: IRANSans-Bold;
    font-size: 20px;
    color: #f6303f;
    text-align: center;
}
.suggestionBlogBox ul li{
    list-style: none;
    font-family: IRANSans;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 5px solid #a7a7a7;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.suggestionBlogBox ul li a{
    color: #111;
    font-size: 14px;
}
.suggestionBlogBox ul{
    margin-top: 30px;
}
.suggestionBlogBox ul li a:hover{
    color: #f6303f;
    text-decoration: none;
}
.suggestionBlogBox ul li:hover{
    border-right-color: #f6303f !important;
}
.RelatedPostBox{
    background-color: #f6303f;
    border-radius: 5px;
}
.RelatedPost1{
    padding: 2rem 2rem 1rem 2rem;
}
.RelatedPost1 p{
    color: #fff;
    font-family: IRANSans-Bold;
    margin-bottom: 0px;
}
.whiteDashed{
    border-top: 1px dashed #fff;
    margin: 0px;
}
.RelatedPost2{
    padding: 2rem 2rem 1rem 2rem;
}
.RelatedPostImg{
    width: 70px;
    height: 70px;
}
.RelatedTitle{
    font-family: IRANSans;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}
.RelatedDate{
    font-family: IRANSans-Light;
    color: #111;
    font-size: 12px;
}
.blogTitle{
    font-family: IRANSans-Bold;
}
.BlogPhoto{
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.grayBox{
    background-color: #f0f0f1;
    padding: 10px 15px;
    width: auto;
}
.urlCopy{
    margin-bottom: 0px;
    font-family: IRANSans-Light;
    color: #898989;
    margin-right: 25px;
    font-size: 15px;
}
.colorGray{
    color: #898989;
}
.bradius5{
    border-radius: 5px;
}
.readMoreTitle{
    color: #f6303f;
    font-family: IRANSans-Bold;
    font-size: 15px;
}
.pd3{
    padding: 2rem;
}
.dashedRed{
    border-color: #f6303f;
    border-style: dashed;
}
.addToClipboard{
    background-color: transparent !important;
    border: none;
}