@media screen and (max-width:550px){
    .logo-light{
        width: 90px !important;
        height: 30px;
    }
    .mouseImg{
        width: 100% !important;
        height: auto !important;
    }
    .backgroundFooter{
        padding-right: 2rem;
        padding-left: 2rem;

    }
    .pageTitle img{
        width: 50px !important;
    }
    .pageTitle{
        padding: 3rem 1rem !important;
    }
    .swiper-slide {
        width: 220px;
      }
      .mainHeader{
          padding:10px !important;
      }
}
@media screen and (max-width:460px){
    .logo-light{
        width: 120px !important;
    }
    .innerRedBox{
        width: 100% !important;
    }
    .redBox{
        padding: 10px !important;
    }
    .innerRedBox p{
        font-size: 8px !important;
    }
    .backgroundFooter{
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .footerLightTitle{
        font-size: 10px !important;
    }
    .footerLightUl li a{
        font-size: 8px !important;
    }
    .errorPageText{
        font-size: 20px;
    }
    .errorBtn{
        font-size: 15px !important;
    }
    .dashedBlackHr{
        width: 8% !important;
    }
    .blackHeader{
        font-size: 12px;
    }
   
}
@media screen and (max-width:768px){
    .loginBox{
        width: 500px !important;
    }
    .MainMenuBtn{
        font-size: 10px !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .hedearRedLogo{
        width: 100px;
    }
    .headerBtn{
        width: 115px;
font-size: 13px;
    }
    .categoryResNone{
        display: none !important;
    }
    .categoryDesNone{
        display: block !important;
    }
    .EachCategoryCol2{
        width: 100% !important;
    }
    .categoryList li{
        display: inline-block;
    }
    .categoryList {
        padding-top: 5px;
        text-align: center;
        width: 100%;
        overflow-y: scroll;
        white-space: nowrap;}
        .categoryBTN {
            color: #17181a;
            font-family: IRANSans;
            font-size: 13px;
            background-color: transparent;
            border: none !important;
            padding: 5px 15px;
          }
          .tableOrder p{
              font-size: 10px !important;
          }
          .grayBoxTop p{
              font-size: 10px !important;
          }
          .cartDiv{
              display: block !important;
          }
          .cartCol1{
              width: 100% !important;
          }
          .cartCol2{
              width: 100% !important;
          }
          .CartContainer {
              padding: 3% !important;
          }
}
@media screen and (max-width:590px){
    .loginBox{
        width: 90% !important;
    }
    .errorImg{
        width: 100% !important;
    }
    .errorPage{
        padding: 50px !important;
    }
    .commingsoonText{
        font-size: 25px !important;
    }
    .pageTitle p{
        font-size: 20px !important;
    }
    .w30{
        width: 100%;
    }
    .f1{
        display:block !important;
        margin-top: 5px;
    }
    .shaCol1{
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
@media screen and (max-width:1000px){
    .errorImg{
        width: 60%;
    }
    .redBox{
        padding: 40px;
    }
    .innerRedBox p{
        font-size: 13px;
    }
    .EachCategoryCol2{
        width: 65%;
    }
    .EachCategoryCol1{
        width: 35%;
    }
    .customCol{
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .EditInformationInput{
        width: 70%;
    }
    .informationSelect{
        width: 70%;
    }
    .saveBtn{
        margin-bottom: 30px;
    }
    .dashedBlackHr{
        width: 25%;
    }
    .bannerCol1{
        flex: 0 0 30%;
max-width: 30%;
    }
    .bannerCol2{
        flex: 0 0 70%;
max-width: 70%;
    }
    .bannerFirstLine{
        font-size: 18px;
    }
    .newProductCol{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .weblogSlider .swiper-slide{
        width: 100% !important;
    }
    .completSystemCol1{
        flex: 0 0 0%;
        max-width: 0%;
        display: none !important;
    }
    .completSystemCol2{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .shaCol1{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: right !important;
        margin-top: 15px;
    }
    .headerResNone{
        display: none !important;
    }
    .headerDesNone{
        display:  block !important;
    }
    .f3{
        display: block !important;
        text-align: right !important;
    }
}
@media screen and (max-width:1308px){
    .MainMenuBtn{
        padding-right: 10px;
        padding-left: 10px;
    }
    .UserPanelContainer{
        padding: 3% 2%;
    }
    .EachCategoryCol2{
        width: 80%;
    }
    .EachCategoryCol1{
        width: 20%;
    }
}
@media screen and (max-width:1100px){
    .menuResponsiveNone{
        display: none;
    }
    .fontWeightBold{
        font-size: 13px;
    }
    .fontWeightNormal{
        font-size: 13px;
    }
    .rightMenuBox1{
        padding: 10px;
        margin-bottom: 15px;
    }
    .BCategoryResNone{
        display: none !important;
    }
    .resWidth100{
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .BCategoryDesNone{
        display:block !important;
    }
    .w230{
        width: 120px;
    }
    .BestSellingCard img{
        width: 100%;
        height: 200px;
    }
    .BestSellingCard .row{
        display: block !important;
    }
    .BestSellingCard .row .col-md-8{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .BestSellingCard .row .col-md-4{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .BestSellingCard{
        padding: 0.5rem !important;
    }
    .priceRowCart p{
        font-size: 10px;
    }
    .CartColorP{
        font-size: 10px;
    }
    .glassBtn{
        font-size: 10px;
    }
    .swiper-slide{
        width: 277px !important;
        min-width: 277px;
    }
}
@media screen and (max-width:880px){
    .firstSlider{
        display: none;
    }
    .bestSellerContainer  .rightBoxCol{
        display: none;
    }
    .NewProductCardBox img{
        width: 60%;
    }
    .whiteBoxSlider{
        padding: 1rem;
        height: auto !important;
    }
    .newProductBox{
        padding:1rem;
    }
    .MainMenuBtn{
        font-size: 13px;
    }
    .megaMenuFirstRowBox{
        height: 100px;
    }
    .listItems{
        font-size: 10px;
    }
    .Blogimg{
        height: auto;
        margin-bottom: 20px;
    }
    .BlogMainImg{
        height: auto;
        margin-bottom: 20px;
    }
    .blackRow{
        display: block;
    }
    .blogBoxTitle{
        margin-bottom: 20px;
    }
    .w230{
        width: 120px;
    }
    .swiper-slide{
        width: 170px;
    }
    .linkCopy{
        display: none;
    }
    .mn{
        display: block !important;
    }
}
@media screen and (max-width:630px){
    .Header{
        display: none;
    }
    .responsiveHeader{
        display:block !important;
    }
    .responsiveHeader{
        background-color: #fff;
       
    }
    .responsiveHeaderLogo{
        width: 76%;
        text-align: center;
    }
    .responsiveHeaderLogo img{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .responsiveLanguage{
        width: 12%;
    }
    .borderBottomResponsive{
        border-bottom: 1px solid #d2d2d2;
        padding: 15px 15px;
    }
    .pdR0{
        padding-right: 0px !important;
    }
    .responsiveInput{
        background-color: #f2f2f2 !important;
        border: none !important;
    }
    .responsiveInput input{
        background-color: #f2f2f2 !important;
        border: none !important;
    }
    .switch{
        width: 70px !important;
        margin-top:20px;

    }
    .pdTB5{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .pdTB10{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border-bottom: 1px solid #d2d2d2;
    }
    .borderRight1{
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .saveBtn{
        font-size: 12px !important;
    }
.desktopMenu{
    display:none !important;
}
.responsiveMenuBox button{
    background-color: transparent !important;
    border: none !important;
}
#singleOrder1{
    order:1;
    width:100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#singleOrder2{
    order:2;
    width:100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#singleOrder3{
    order: 3;
    width:100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-top: 15px;
}
.redBox2 {
    margin-bottom: 15px !important;
}
.redLightBox{
    margin-top: 15px;
}
.addressSingle{
    font-size: 12px;
}
.seeAllDiv{
    padding: 0px 230px;
}
.specialOfferTitle{
    font-size: 15px;
}
.swiper-slide{
    width: 260px !important;
}
}


@media screen and (max-width:760px){
.Logores-block{
    display: block !important;
    margin-right: auto;
    margin-left: auto;
}
.footerResNone{
    display: none !important;
}
.footerDesNone{
    display: block !important;
}
.socialRow{
    width: 80% !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px !important;
}
.addressAdd{
    font-size: 10px;
}
.glassBtn{
    font-size: 13px;
}
.w70{
    width: 50% !important;
}
.dashedBlackHr{
    width: 20%;
}
.blackHeader{
    font-size: 15px;
}
.bannerBackground{
    margin-bottom: 15px;
}
.productBannerBox{
    margin-bottom: 15px;
}
.MainPageSpecialOffer .seeAllDiv{
    padding: 0px !important;
}
}
@media screen and (max-width:410px){
    .errorPageText{
        font-size: 15px;
    }
    .errorPage{
        padding: 30px !important;
    }
   
}
@media screen and (max-width:1230px){
    .compareCards{
        width: 260px;
    }
    .compareTitle{
        font-size: 15px;
    }
    .sortLable{
        margin-right: 2px;
    }
    #singleOrder1{
        order:1;
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #singleOrder2{
        order:2;
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #singleOrder3{
        order: 3;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width:1358px){
    .sortLable li button{
        padding: 2px !important;
        font-size: 10px !important;
    }
    .sortText{
        font-size: 10px;
    }
    .topWhiteBox{
        overflow: auto;
        white-space: nowrap; 
    }
    .CartContainer {
        padding: 1%;
    }
}
@media screen and (max-width:1431px){
    .SliderCard{
        width: 330px;
    }
    
}
.swiper-container {
    width: 100%;
  }
  
  @media screen and (max-width: 640px) {
    .swiper-container {
      width: 100% !important;
    }
    .headerDesNone{
        display: none !important;
    }
    .MobileHeader{
        display: block !important;
    }
    .topBarMobCol2{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .EachCategoryContainer{
        padding-right: 0px;
        padding-left: 0px;
    }
    .completSystemCol2{
        padding: 0px;
    }
    .productsWhiteBox{
        padding:15px;
    }
    .topBarMobCol2 div{
        display: flex;
        align-items: center;
    }
    .sortLabel{
        font-size: 10px;
    }
    #sort {
        margin-right: 20px;
        background-color: transparent !important;
        border: solid 1px #a0a0a0;
        padding: 5px 10px;
        border-radius: 5px;
        font-family: IRANSans;
        width: 100px;
        color: #a0a0a0;
        font-size: 10px;
      }
      .filterBtn{
          font-size: 10px;
      }
  }

  
  @media screen and (max-width: 768px) {
    .swiper-container {
      width: 100% !important;
    }
  }
@media screen and (max-width:900px){
    .topBarComplete{
        display: block;
    }
    .topBarCol1{
        justify-content: space-between;
    }
    .topBarCol2{
        justify-content: space-between;
        margin-top: 10px;
    }
    .breadCrumbs ul{
        display: unset;
    }
}