@media screen and (max-width:550px){
    .logo-light{
        width: 150px !important;
    }
}
@media screen and (max-width:460px){
    .logo-light{
        width: 120px !important;
    }
}
@media screen and (max-width:768px){
    .loginBox{
        width: 500px !important;
    }
}
@media screen and (max-width:590px){
    .loginBox{
        width: 90% !important;
    }
}