@font-face {
  font-family: "IRANSans-Black";
  src: url("../webfonts/IRANSans_Black.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Bold";
  src: url("../webfonts/IRANSans_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Light";
  src: url("../webfonts/IRANSans_Light.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Medium";
  src: url("../webfonts/IRANSans_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Ultra";
  src: url("../webfonts/IRANSans_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans";
  src: url("../webfonts/IRANSans.ttf") format("truetype");
}

*{
  padding: 0px;
  margin: 0px;
}
.row{
  margin-right:0px !important;
  margin-left: 0px !important;
}
.d-flex{
  display: flex;
}
.d-flex-center{
  display: flex;
  align-items: center;
}
.d-flex-start-start{
  display: flex;
  justify-content: start;
}
.d-flex-end-end{
  display: flex;
  justify-content: end;
}
.d-inline-block{
  display: inline-block;
}
.ta-right{
  text-align: right;
}
.ta-left{
  text-align: left;
}
.ta-center{
  text-align: center;
}
.logo-light{
  width: 200px;
}
.mar-des-right-1{
  margin-right:1rem;
}
.mar-des-left-1{
  margin-left:1rem;
}
.mar-des-top-1{
  margin-top:1rem;
}
.mar-des-bottom-1{
  margin-bottom: 1rem;
}
.mar-des-right-2{
  margin-right:2rem;
}
.mar-des-left-2{
  margin-left:2rem;
}
.mar-des-top-2{
  margin-top:2rem;
}
.mar-des-bottom-2{
  margin-bottom: 2rem;
}

body{
  background-color: #f1f1f1;
}
/**********Main Header********/
.mainHeader{
  padding:3rem 2rem;
  background-color: #fff;
}
.headerBTN{
  background-color: transparent;
  border:none;
}
.headerBTN:hover{
  background-color: transparent;
  border:none;
}
.headerBTN:active{
  border:none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.headerBTN:focus ,.headerBTN:focus-visible{
  border:none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.headerBTN svg:hover{
  fill:#ff004e ;
  stroke: #ff004e;
}
/******Home Page******/
.heroSlider{
  padding:3rem 2rem;
}

/***********footer**************/
.footerBg{
  
 
  padding-top:4rem;

  background-image: url('../../assets/img/footerImg.png');
  background-repeat:no-repeat;
}
.backgroundFooter{
  background-color: #1a1b1e;
  padding-right:6rem;
  padding-left: 6rem;
  padding-top: 2rem;
}
.footerTitle{
  font-family: IRANSans-Bold;
  color:#ff004e;
  font-size: 25px;
text-shadow: 1px 1px 10px #ff004eb0;
}
.footerUL li a {
  color:#fff !important;
  font-family: IRANSans;
  font-size: 18px;
}
.footerUL li{
  margin-bottom:30px;
  margin-top: 30px;
}
.footerUL{
  list-style: none !important;
}
.footerTitle{
  margin-bottom:45px;
}
.iconBoxFooter{
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  background-color: #ff004e;
  box-shadow: 1px 1px 20px 1px rgba(255, 0, 78, 0.58);
  border-radius: 50%;
  margin-left: 20px;
  padding: 10px;
}
.iconBoxFooter img{
  width: 100% !important;
}
.footerItem{
  color: #fff;
  font-family: IRANSans-Light;
  font-size: 18px;
  margin-bottom: 0px !important;
}
.alignItem-center{
  align-items: center;
}
.mar-bottom-2{
  margin-bottom: 2rem;
}
.mailTitle{
  font-family: IRANSans-Bold;
  color:#fff;
  font-size: 16px;
  text-align: right;
  margin-top: 50px;
}
.emailInput{
  background-color: #fff;
  padding:10px 15px;
  font-family: IRANSans;
  font-size: 12px;
  border: none;
  width: 310px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.submitBtn{
  background-color: #2b25dc;
  color:#fff;
  font-family: IRANSans-Medium;
  width: 92px;
  height: 40px;
  border: none;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
.socialIcon img{
  height: 30px;
  width: 30px;
}
.socialIcon{
  display:inline-block;
}
.socialRow{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.upBtn{
  background-color: #141111;

  height: 50px;
  width: 100px;
  border:none !important;
  border-radius: 150px 150px 0 0;
}
.upBtn img{
  width: 35%;
}
.lastFooterRow{
  background-color: #141111;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastFooterRow p{
  color:#fff;
  text-align: center;
  font-family: IRANSans-Ultra;
  font-size: 16px;
  margin-bottom: 0px !important;
}