
@font-face {
  font-family: "IRANSans-Black";
  src: url("../webfonts/IRANSans_Black.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Bold";
  src: url("../webfonts/IRANSans_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Light";
  src: url("../webfonts/IRANSans_Light.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Medium";
  src: url("../webfonts/IRANSans_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans-Ultra";
  src: url("../webfonts/IRANSans_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSans";
  src: url("../webfonts/IRANSans.ttf") format("truetype");
}
@font-face {
  font-family: "Kalameh";
  src: url("../webfonts/Kalameh.ttf") format("truetype");
}
*{
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
}
input{
  font-family: IRANSans-Light;
}
.row{
  margin-right:0px !important;
  margin-left: 0px !important;
}
.d-flex{
  display: flex;
}
.d-flex-center{
  display: flex;
  align-items: center;
}

.d-flex-start-start{
  display: flex;
  justify-content: start;
}
.d-flex-end-end{
  display: flex;
  justify-content: end;
}
.d-inline-block{
  display: inline-block;
}
.ta-right{
  text-align: right !important;
}

.ta-left{
  text-align: left !important;
}
.ta-center{
  text-align: center !important;
}
.logo-light{
  width: 200px;
}
.mar-des-right-1{
  margin-right:1rem;
}
.mar-des-left-1{
  margin-left:1rem;
}
.mar-des-top-1{
  margin-top:1rem;
}
.mar-des-bottom-1{
  margin-bottom: 1rem;
}
.mar-des-right-2{
  margin-right:2rem;
}
.mar-des-left-2{
  margin-left:2rem;
}
.mar-des-top-2{
  margin-top:2rem;
}
.mar-des-bottom-2{
  margin-bottom: 2rem;
}
.image-gallery-thumbnails{
  direction: ltr !important;
}
[dir=rtl] .slick-next:before {
  content: '←';
  background: red;
  border-radius: 50%;
  color: #fff;
}

.slick-next:before, [dir=rtl] .slick-prev:before{
  background: red;
  border-radius: 50%;
  color: #fff;
}
/**********Main Header********/
.mainHeader{
  padding:3rem 2rem;
  background-color: #fff;
}
.headerBTN{
  background-color: transparent;
  border:none;
}
.headerBTN:hover{
  background-color: transparent;
  border:none;
}
.headerBTN:active{
  border:none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.headerBTN:focus ,.headerBTN:focus-visible{
  border:none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.headerBTN svg:hover{
  fill:#ff004e ;
  stroke: #ff004e;
}
/******Home Page******/
.heroSlider{
  background-color: #fff;
}

/***********footer**************/
.footerBg{


  padding-top:4rem;

  background-image: url('../../assets/img/footerImg.png');
  background-repeat:no-repeat;
}
.backgroundFooter{
  background-color: #1a1b1e;
  padding-right:6rem;
  padding-left: 6rem;
  padding-top: 2rem;
}
.footerTitle{
  font-family: IRANSans-Bold;
  color:#ff004e;
  font-size: 25px;
text-shadow: 1px 1px 10px #ff004eb0;
}
.footerUL li a {
  color:#fff !important;
  font-family: IRANSans;
  font-size: 18px;
}
.footerUL li{
  margin-bottom:30px;
  margin-top: 30px;
}
.footerUL{
  list-style: none !important;
}
.footerTitle{
  margin-bottom:45px;
}
.iconBoxFooter{
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  background-color: #ff004e;
  box-shadow: 1px 1px 20px 1px rgba(255, 0, 78, 0.58);
  border-radius: 50%;
  margin-left: 20px;
  padding: 10px;
}
.iconBoxFooter img{
  width: 100% !important;
}
.footerItem{
  color: #fff;
  font-family: IRANSans-Light;
  font-size: 18px;
  margin-bottom: 0px !important;
}
.alignItem-center{
  align-items: center;
}
.mar-bottom-2{
  margin-bottom: 2rem;
}
.mailTitle{
  font-family: IRANSans-Bold;
  color:#fff;
  font-size: 16px;
  text-align: right;
  margin-top: 50px;
}
.emailInput{
  background-color: #fff;
  padding:10px 15px;
  font-family: IRANSans;
  font-size: 12px;
  border: none;
  width: 310px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.submitBtn{
  background-color: #2b25dc;
  color:#fff;
  font-family: IRANSans-Medium;
  width: 92px;
  height: 40px;
  border: none;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
.socialIcon img{
  height: 30px;
  width: 30px;
}
.socialIcon{
  display:inline-block;
}
.socialRow{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.upBtn{
  background-color: #141111;

  height: 50px;
  width: 100px;
  border:none !important;
  border-radius: 150px 150px 0 0;
}
.upBtn img{
  width: 35%;
}
.lastFooterRow{
  background-color: #141111;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastFooterRow p{
  color:#fff;
  text-align: center;
  font-family: IRANSans-Ultra;
  font-size: 16px;
  margin-bottom: 0px !important;
}
/********best seller box*****/
.bestSellerContainer{
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;

  padding-right: 0px;
}
.rightBoxCol div p{
  font-family: Kalameh;
  float: right;

		height: 75%;
  color:#fff;
		background: #ff004e;
		padding: 10px;
	padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
		font-size: 40px;
    writing-mode: tb-rl !important;
    box-shadow: 1px 1px 20px 1px rgba(255, 0, 78, 0.58);
width: 100%;
border: 1px solid #707070;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
justify-content: center;
}
.rightBoxCol div{
  position: relative;
  height: 100%;
}
.mainHeader .d-flex{
  align-items: center !important;
}
.rightBoxCol{
  padding-right: 0px !important;

}
.bestSellerContainerCol2{
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.07);
  padding-bottom: 50px;
}
/*********Each Category************/
.EachCategoryBody{
  background-color: #f1f1f1;
}
.EachCategoryContainer{
  padding-right:1rem;
  padding-left: 1rem;
}
.breadCrumbs ul li{
  display: inline-block;
}
.breadCrumbs ul li a{
  color: #0a0909;
  font-size: 14px;
  font-family: IRANSans-Light;
  margin-left: 5px;
  margin-right: 5px;
}
.breadCrumbs ul{
  display: flex;
}
.breadCrumbs{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.whiteBoxCategory{
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  border-radius: 5px;

  padding: 25px;
  margin-bottom:30px;
}
.BoxTitle{
  font-family: IRANSans-Bold;
  color:#0a0909;
  font-size: 25px;
  text-align: center;
  margin-bottom: 0px;
}
.margin-top-3{
  margin-top: 3rem;
}
.test{
  background-color: #000;
}
.colmar-top-3{
  margin-top: 3rem;
}
.marginTop3{
  margin-top: 3rem;
}
/********Login********/
.loginPage{
  background-color: #000;
  height: 100vh;
  padding-top: 120px;
}
.loginBox{
  border: solid 1px #444;
  background-color: #282828;
  border-radius:5px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 497px;
  width: 400px;
  padding:30px;
}
.loginBox img{
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 10px;
}
.closeBtn{
  background-color: transparent;
  border: none;
}
.closeIcon{
  color: #fff;
  opacity: 0.5;
}
.loginTitle{
  font-family: IRANSans-Bold;
  color:#fff;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.loginText{
  color:#a0a0a0;
  font-family: IRANSans-Light;
  font-size: 15px;
}
.inputLogin{
  background-color: #fff;
  width: 100%;
  padding:10px 15px;
  border: none;
  border-radius:5px;
  text-align: center;
}
.rememberPassLable{
  color:#a0a0a0;
  font-family: IRANSans-Light;
  font-size: 12px;
  margin-right: 10px;
}
.checkbox:checked:before{
  background-color:green;
  }
  .ma-top-1{
    margin-top: 10px;
  }
  .pad0{
    padding: 0px;
  }
  .mar-top-40{
    margin-top: 40px;
  }
  .loginBtn{
    background-color: #f6303f;
    color: #fff;
    font-family: IRANSans-Medium;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  .mar-top-20{
    margin-top: 20px;
  }
  input:checked{
    background-color: red;
  }
  .whiteColor{
    color: #fff;
  }
  .whiteColor:hover{
    color: #f6303f;
    text-decoration: none;
  }
  .underLine{
    color: #a0a0a0;
    text-decoration: underline;
  }
  .underLine:hover{
    color: #f6303f;
  }
  .loginBtn:focus{
    outline: none !important;
  }
  .redBox33{
    background-color: #f6303f;
    padding: 4px 15px;
  }
  .redBox33 p{
    margin-bottom: 0px;
    color: #fff;
    font-size: 25px;
  }
  .w73{
    width: 73px;
  }
  .mar-top-35{
    margin-top: 35px;
  }
  .marBottom0{
    margin-bottom: 0px !important;
  }
  .marTop35{
    margin-top: 15px;
  }
  .mar-top-80{
    margin-top: 80px;
  }

  /*********Header ******/
  .Header{
    padding: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hedearRedLogo{
    width: 160px;
  }
  /********switch****/
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;

  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc1c5;
    -webkit-transition: .4s;
    transition: .4s;
    height: 12px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;

    background-color: #f6303f;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
    top:-3px;
  }

  input:checked + .slider {
    background-color: #fa6a76;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #f6303f;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

.margin-right-60{
  margin-right: 60px;
  margin-top: 20px;
}
.headerBtn{
  background-color: transparent;
  border: none;
  font-family: IRANSans-Light;
  color: #1a1a1a;
  width: 130px;
}
.headerBtn:active,.headerBtn:focus{
  outline: none !important;
}
.headerBtn:hover{
  color: #f6303f !important;
}

/*******Menu********/
.mainBack{
  background-color: #fff;
  padding-right: 30px;
   padding-left: 30px;
   border: 1px solid #a7a7a7;
}
.MainMenu{




}
.MainMenuBtn{
  background-color: transparent !important;
  border-radius: 0px;

  border-top: none;
  border-bottom:none;
  color: #1a1a1a;
  padding: 20px;
  font-family: IRANSans-Light;
}
.marginLeft15{
  margin-left: 15px;
}
.borderRight1{
  border-right: 1px solid #a7a7a7;
  border-left: none !important;
}
.borderNone{
border:none !important;
}
.borderLeft1{
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
}
.menuDown{
  color: #ed2124;
  margin-right: 5px;
}
.borderLeft1:hover{
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
}
.borderRight1:hover{
  border-right: 1px solid #a7a7a7;
  border-left: none !important;
}
.MainMenuBtn:active{
  color: #ff004e !important;
}
.MainMenuBtn:focus{
  color: #ff004e !important;
  box-shadow: none !important;
}

/********404**********/
.errorImg{
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 35%;
}
.errorPage{
  background-color: #fff;
  padding: 130px;
}
.errorPageText{
  text-align: center;
  font-family: IRANSans-Light;
  font-size: 24px;
  color: #444444;
  margin: 40px;
}
.errorBtn{
  color: #fff;
  font-family: IRANSans-Bold;
  background-color: #f6303f;
  border: none;
  font-size: 20px;
  padding: 10px 25px;
}
.errorBtn:hover{
  background-color: #fff;
  color: #f6303f;
  border:2px solid #f6303f;
}
/***********RedBox***********/
.redBox{
  background-color: #f6303f;
  padding: 40px 100px;
}
.innerRedBox{
  display: flex;
  justify-content: space-between;
}
.innerRedBox p{
  font-size: 18px;
  font-family: IRANSans;
  text-align: center;
  margin-top: 20px;
  color: #fff !important;
}
.innerRedBox img{

}
.innerRedBox div{
  text-align: center;
  height: 100px;
}
/*********MainPage*********/
.MainPageContainer{
  padding: 0px !important;
  background-color: transparent !important;
}
.bannerRow{
  background-color: #fff;
  padding: 3.5rem;
}
.bannerBackground{
  background-color: #f6303f;

  border-radius: 15px;
  padding: 15px 45px;
}
.redbannerImg{
  width: 100%;
}
.bannerFirstLine{
  font-family: IRANSans-Bold;
  font-size: 25px;
  color: #fff;
  text-align: right;
  margin-bottom: 5px;
}
.bannerSecondLine{
  font-family: IRANSans-Light;
  text-align: right;
  font-size: 18px;
  color: #fff;
}
.blackBox{
  background-color: #2b2b2b !important;
}

.productBannerBox{
  display: flex;
  /* padding: 30px; */
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}
#backBlack{
  background-color: #2b2b2b;
}
#backGray{
  background-color: #e8e8e8;
}
.miniText{
  font-family: IRANSans-Ultra;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}
.brandText{
  font-family: IRANSans-Bold;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: right;
}
.productLink{
  text-decoration: none;
  color: #ff2e2e;
  font-family: IRANSans-Medium;
  text-align: right;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.productBannerBox img{
  width: 100%;
  height: 136px;
}
.colorBlack{
  color: #000 !important;
}
.customRow{
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bestSellingDiv{
  padding: 0px 30px;
  background-color: #fff;

}
.backWhite{
  background-color: #fff;
}
.colorBlack{
  color: #111;
}
.newProductBox{
  background-color: #222;
  padding: 2rem;
}
.colorWhite{
  color: #fff !important;
}
.marginTop30{
  margin-top: 30px;
}
.newsDiv{
  padding-right: 2rem;
  padding-left: 2rem;
}

/********products*******/
.redBoxFilter{
  background-color: #f6303f;
  border-radius: 5px;
 margin-bottom: 10px;
}
.filterText{
  color:#fff;
  font-family: IRANSans-Medium;
  margin-bottom: 0px;
}
.filterBtn{
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0px;
  font-family: IRANSans-Medium;
}
.filterSelect{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 15px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-family: IRANSans-Light;
}
.filterFlex{
  display: table-row-group;
  padding:1rem 2rem;
}
.pd2{
  padding:1rem 2rem;
  border-bottom: 1px solid #fff;
}
.productAccardion .accordion__button{
background-color: #fff;
text-align: right;
font-family: IRANSans-Medium;
color: #000;
border:none !important;
border-bottom: 1px solid #e8e8e8;

}
.productAccardion .accordion__panel{
  background-color: #fff;
}
.productAccardion .accordion__button::before {
  float: left;
  transform: rotate(-137deg);
  color: #898989;
  margin-top: 5px;
}
.accardion{
  border:0px solid !important;
}
.whiteBoxProduct{
  margin-top: 15px;
}
.accordion__button:hover{
  background-color: #fff !important;
}
.searchInput{
  border: solid 1px #e8e8e8;
  padding: 5px 10px;
  border-radius: 5px;
}
.searchInput input{
  border: none !important;
 font-family: IRANSans;
  font-size: 12px;
  margin-right: 15px;
  color: #a0a0a0;
}
.productAccardion .accordion__panel{

  padding: 0px !important;
  padding-bottom: 15px !important;
}
.checkBoxDiv label{
  font-family: IRANSans-Light;
  font-size: 14px;
  color: #414141;
  margin-bottom: 0px;
  margin-right: 10px;
}
.checkBoxDiv{
  align-items: center;

}
.pad2{
  padding: 1rem;
  border-top: 1px solid #e8e8e8;

}
.scrollBar{
  height: 242px;
overflow: scroll;
  overflow-x: scroll;
overflow-x: hidden;
}
.productsWhiteBox{
  background-color: #fff;
  margin-top: 15px;
  padding: 2rem;
}
.whiteBoxHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashedHrdiv{
  width: 34%;
}
.whiteBoxTitle{
  color: #111;
  font-family: IRANSans-Bold;
  font-size: 35px;
}
.allProductsBtn{
  background-color: transparent;
  border: none;
  color: #ed2124;
  font-family: IRANSans;
}
.dashedHr{
  border-top: 1px dashed #707070;
}
.marginTop15{
  margin-top: 15px;
}
.rangeText{
  text-align: center;
  color: #898989;
  font-family: IRANSans-Ultra;
font-size: 13px;
}
.rangeInput{
  border: 1px solid
  #e8e8e8
  ;
  border-radius: 5px;
  padding: 5px 10px;
  height: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
display: block;
}
.marginB0{
  margin-bottom: 0px !important;
}
.maxFont{
  font-size: 16px;
}
.rangeBorder{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.rangeBtn{
  border: none;
  background-color: #f6303f  ;
  border-radius: 5px;
  color: #fff;
  font-family: IRANSans;
  width: 153px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productBlackBox{

}
.myPadding{
  padding: 1rem;
}
/**************completed Systems*******/
.pageTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.pageTitle p{
  font-family: IRANSans-Bold;
  color: #f6303f;
  font-size: 35px;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0px !important;
}
.borderDashedBottom{
  border-bottom: 2px dashed #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  width: 100%;
  align-items: center;
}
.borderDashedBottom p{
  font-family: IRANSans-Medium;
  margin-bottom: 0px;
}
.sortLabel{
  color: #a0a0a0;
  font-family: IRANSans;
}
#sort{
  margin-right: 20px;
  background-color: transparent !important;
  border: solid 1px #a0a0a0;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: IRANSans;
  width: 165px;
  color: #a0a0a0;
}
.searchInput{
  border: 1px solid #a0a0a0;
font-family: IRANSans;
font-size: 12px;
margin-right: 15px;
color: #a0a0a0;
}
/**************select Power Supply*********/
.selectRow{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.selectAll{
  background-color: transparent;
  border: none;
  font-family: IRANSans;
  color: #000;

}
.compareBtn{
  background-color: transparent;
  border: none;
  font-family: IRANSans;
  color: #f6303f

  ;
}
.selectAll:hover{
  background-color: transparent;
}
.compareBtn:hover{
  background-color: transparent;
}
.marginLeft60{
  margin-left: 60px;
}
#width30{
  width: 30%;
}
.marginLeftt20{
  margin-left: 5px;
}
#w95{
  width: 95% !important;
margin-left: auto;
display: block;
padding-top: 10px;
padding-bottom: 10px;
margin-right: auto;
}
.tableTitle{
  margin-bottom: 0px;
  font-family: IRANSans;
  font-size: 12px;
}
.tableBox{
  border: 1px solid #a0a0a0;
  border-radius: 5px;
}
.rowImg img{
  width: 62px;
  height: 62px;
  border: 1px solid #a0a0a0;
}
.productNameRow{
  font-family: IRANSans-Bold;
  color:#111;
  font-size: 14px;
  margin-bottom: 0px;
}
.pNameRow{
  font-family: IRANSans;
  color:#111;
  font-size: 12px;
  margin-bottom: 0px;
  display: flex;
}
.redColor{
  color: #f6303f !important;
  margin-bottom: 0px;
}
.addRowBtn{
  background-color: #f6303f;
  color: #fff;
  border: none !important;
  font-family: IRANSans-Light;
}
.addRowBtn:hover{
  background-color: #fff;
  color: #f6303f;
  border: 1px solid #f6303f !important;
}
.borderBottom{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
/**************SystemGuide****/
.radius10{
  border-radius: 10px;
}
.dashedBlackHr hr{
  border-top: 2px dotted #a0a0a0;

}
.dashedBlackHr{
  width: 35%;
}
.blackHeader{
  font-size: 25px;
  font-family: IRANSans-Bold;
  color: #111;
  margin-bottom: 0px;
}
/****************SingleProduct********/
@import "~react-image-gallery/styles/css/image-gallery.css";
.singleBox1{
  border-top: 10px solid #f6303f;
  background-color: #fff;
  padding: 2rem 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.image-gallery-slide{
  padding: 5px;
  border: 1px solid #111;
  width: 100%;
  height: auto;
}
.image-gallery-image{
  object-fit: unset !important;
width: 100%;
height: 100%;
max-height: 100%;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image{
  width: 83px;
  height: 83px;
}
.image-gallery-thumbnail:hover{
  border: 2px solid #111;
}
.redLightBox{
  border: solid 0.3px #aaa;
  background-color: #fff3f4;
  border-radius: 5px;
  padding: 2rem;
}
.boxTitle2{
  font-family: IRANSans-Medium;
  color: #111;
  font-size: 15px;
}
#colorGray{
  color: #a0a0a0;
}
.grayHr{
  border-top: 1px solid #dbdbdb !important;
}
.redBack{
  background-color: #f6303f;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.redBack p{
  color: #fff;
  font-family: IRANSans-Bold;
  margin-bottom: 0px;
  font-size: 12px;
}
.addToCart{
  color: #fff;
  font-family: IRANSans-Medium;
  text-align: center;
  width: 100%;
  border: none;
  background-color: #f6303f;
}
.BoldFont{
  font-family: IRANSans-Bold;
  font-size: 20px;
}
.mediumFont{
  font-family: IRANSans-Light !important;
}
.NormalFont{
  font-size: 15px;
  margin-top: 25px;
  font-family: IRANSans-Medium;
}
.colorBox{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  border: 2px solid #a0a0a0;
padding: 5px;
}
#color6{
  background-color: #1a1a1a;
}
#color2{
  background-color: #5a4c7f;
}
#color3{
  background-color: #06cdae;
}
#color4{
  background-color: #ffb3ef;
}
#color5{
  background-color: #24e0ff

  ;
}
.detailTitle{
  font-family: IRANSans-Medium;
  color: #111;
  font-size: 15px;
  margin-bottom: 0px;
}
.detail2Title{
  font-family: IRANSans;
  color: #a0a0a0;
  font-size: 14px;
  margin-bottom: 0px;
  margin-right: 5px;
}
.mavaredBishtar{
  background-color: transparent;
  color:#a0a0a0;
  font-family: IRANSans-Light;
  font-size: 15px;
  border: none;

}
.mavaredBishtar:hover{
  background-color: transparent;
  border: 1px solid #a0a0a0;

}
.addressSingle{
  font-family: IRANSans-Bold;
  color:#616161;
font-size: 16px;
margin-bottom: 0px;
}
.dottedH{
  border-top: 1px dotted #aaa;
}
.productDetail{
  font-family: IRANSans;
  color: #111;
  line-height: 1.9;
  font-size: 15px;
}
.whiteBox3{
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.SingleProductRedBox{
  background-color: #f6303f;
  border-radius: 5px;

}
.assembleSliderBox{
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
.newCardRes{
  display: inline-block !important;

}
.newCardRes img{
  width:100% !important;
  height: 100% !important;
}
.assembleSliderBoxRes{
  background-color: #fff;
}
.redBoxTitle{
  padding: 1rem;
}
.redBoxTitle p{
  color: #fff;
  font-family: IRANSans-Bold;
  font-size: 18px;
  margin-bottom: 0px;
}
.whiteDotted{
  border-top: 1px dashed #fff;
}
#colorRed{
  color: #f6303f !important;
}
#borderRed{
  border-color: #f6303f !important;
}
.profileComment{
  height: 50px;
  width: 50px;
  border: 1px solid #111;
}
.commenterName{
  margin-bottom: 0px;
  font-family: IRANSans-Bold;
  margin-right: 20px;
}
.commentInput{
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  font-family: IRANSans-Light;
}
.addComment{
  background-color: #f6303f;
  font-family: IRANSans;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.font12{
  font-size: 14px !important;
  font-family: IRANSans-Medium !important;
}
.commentDate{
  margin-bottom: 0px;
  color: #898989;
  font-size: 12px;
  margin-right: 20px;
  font-family: IRANSans-Light;
  margin-left: 15px;
}
.commentText{
  color: #282828;
  font-family:IRANSans;
  font-size: 13px;
  line-height: 1.83;
}
/*********makeSystem***********/
.selectedOption{
  border: 1px solid #f6303f !important;

  color: #f6303f !important;
  min-width: 80px !important;

}
.selectBtn{
  border: 1px solid #a7a7a7;
  background-color: #fff;
  color: #a7a7a7;
  font-family: IRANSans-Light;

  min-width: 80px !important;
}
.selectBtn:hover{
  background-color: #f6303f !important;
  color: #fff !important;
}
.w200{
  width: 25%;
}
/**********Main Blog********/
.borderNone{
  border: none !important;
}
.BlogMainImg{
  width: 100%;
  height: 600px;
}
.BlogSecondImg{
  width: 100%;
  height: 290px;
}
.margintop20{
  margin-top: 20px;
}
/*********AssembleMain**********/
/*********panel******/
.UserPanelContainer{
  background-color: #f4f4f4;
}
.UserPanelContainer{
  padding: 8%;
}
.panelWhiteBox{
  background-color: #fff;
  border-radius: 10px;
}
.colTitle{
font-family: IRANSans-Bold;
margin-bottom: 0px;
color: #ff004e;
}
.EditInformationInput{
  border: 1px solid #e8e8e8;
  padding: 5px;
  border-radius: 5px;
}
.informationSelect{
width: 220px;
height: 36.8px;
font-family: IRANSans;
border: none;
border-radius: 5px;
padding: 5px;
}
.saveBtn{
  background-color: #ff004e !important;
  font-family: IRANSans-Bold !important;
  color: #fff !important;
  border: none !important;
}
.saveBtn:hover{
  background-color: #fff !important;
color: #ff004e !important;
border: 1px solid #ff004e !important;
}
.addressAdd{
  font-family: IRANSans-Bold !important;
  color: #fff !important;
  background-color: #25bddc !important;
  border: none;
}
.addressAdd:hover{
  background-color: #fff !important;
  border: 1px solid #25bddc !important;
  color: #25bddc !important;
}
.shadowBox{
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 25px 20px;
}
.glassBtn{
  background-color: transparent !important;
  border: none !important;
  font-family: IRANSans-Medium;
}
#colorBlue{
  color: #25bddc;
}
#colorRed{
  color: #ed2124;
}
.w80block{
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.w70{
  width: 70%;
}

.w40{
  width: 40%;
}
.grayBoxTop{
  background-color: #d2d2d2;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
#w7{
  width: 7%;
  text-align: center;
}
#w28{
  width: 28%;
  text-align: center;
}
#w15{
  width: 15%;
  text-align: center;
}
#w12{
  width:12.5%;
  text-align: center;
}
#w35{
  width: 35%;
  text-align: center;
}
#w50{
  width: 50%;
  text-align: center;
}

.grayBoxTop p{
  font-family: IRANSans-Medium;
  color: #1b1b1b;
  font-size: 13px;
  margin-bottom: 0px;
}
.tableOrder p{
  font-family: IRANSans;
  color: #1b1b1b;
  font-size: 13px;
  margin-bottom: 0px;
}
.tableOrder{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.pdbottom150{
  padding-bottom: 150px;
}
/* Ticket */
.addTicketBtn{
  background-color: #25bddc;
  font-family: IRANSans-Bold;
  color: #fff;
  border: none;
}
.statusTicketBtn{
  background-color: #fff;
  font-family: IRANSans;
  color: #ff004e;
  border: solid 1px #ff004e;
  width: 140px;
  height: 80%;

}
.statusTicketBtn2{
  background-color: #fff;
  font-family: IRANSans;
  color: #ffd428;
  border: solid 1px #ffd428;
  width: 140px;

}
.statusTicketBtn3{
  background-color: #fff;
  font-family: IRANSans;
  color: #2eb913;
  border: solid 1px #2eb913;
  width: 140px;
}

.ticketBox{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  border-radius: 5px;
background-color: #fff;
  padding: 25px;
  margin-bottom:30px;
}
#w5{
  width: 15%;
}
#w50{
  width: 50%;
}

/****************megaMenu********/
.megaMenu{
  width: 100%;
  background-color: #fff;
  height: auto;
  position:absolute;
  z-index: 10000;
}
.MegaMenuFirstRow{
  background-color: #1a1919;
  display: flex;
}
.MegaMenuSecondRow{
  background-color: #f3f3f3;
  display: flex;
}
.singleBox1 .BoldFont{
  font-size: 18px !important;
  margin-bottom: 0px !important;
}
.menuTextBack{
  color: #fff;
  font-family: 'IRANSans' !important;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 0px;
}
.menuTextBack2{
  color: #1a1a1a;
  font-family: 'IRANSans' !important;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 0px;
}
.megaMenuFirstRowBox{
  width: 12.5%;
  height:50px;
  /* border-right: 0.5px solid #5a5a5a;
  border-left: 0.5px solid #5a5a5a; */
  align-content: center;
justify-content: center;
display: flex;
align-items: center;
}
.megaMenuSecondRowBox{
  width:auto;
  height:50px;
  /* border-right: 0.5px solid #5a5a5a;
  border-left: 0.5px solid #5a5a5a; */
  align-content: center;
justify-content: center;
display: flex;
align-items: center;
}
.megaMenuFirstRowBox svg:hover{
  fill: #f6303f;
  stroke: #f6303f;
}
.megaMenuFirstRowBox svg:hover path{
  fill: #f6303f;
  stroke: #f6303f;
}

.megaMenuFirstRowBox:hover path{
  fill: #f6303f;
  stroke: #f6303f;
}
.MegaMenuContainer{

background-color: #fff;
padding: 25px;
display: flex;
flex-wrap:wrap;
}
.MegaMenuCol{
  width: 20%;
}
.MegaMenuCol ul{
  margin-bottom: 25px;
}
.listTitle{
  list-style: none;
  font-family: IRANSans-Bold;
  font-size: 15px;
  color: #111;
  margin-bottom: 10px;
}
.listTitle a{
  color: #111;
  text-decoration: none;
}
.listItems{
  list-style: none;
  font-family: IRANSans-Light;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.listItems a{
  color: #111;
  text-decoration: none;
}
/*******FooterMain******/
.footerLightTitle{
  font-family: IRANSans-Bold;
  color: #fff;
  font-size: 16px;
}
.footerLightUl li{
  list-style: none;
}
.footerLightUl li a{
  text-decoration: none;
  font-family: IRANSans;
  color: #fff;
  font-size: 14px;
  line-height: 3.08;
}
.footerLightUl li a:hover{
  color: #f6303f !important;
}
.backRed{
  background-color: #f6303f !important;
}
.about{
  background-color: #fff;
  padding:25px 15px;
  border-radius: 10px;
}
.aboutText{
  font-family: IRANSans;
  color:#1a1a1a;
  text-align: right;
  line-height: 2.2;

}
.grayB{
  background-color: #f4f4f4;
  padding: 5%;
}
.aboutHeader{
  font-family: IRANSans-Bold;
  color: #000;
  font-size: 20px;
  text-align: right;
}
.enamadBox{
  height: 143px;
  /* background-color: #fff; */

  padding: 5px;
  width: 100%;
}
.enamadBox img{
  width: 100%;
}
.w230{
  width: 230px;
}
.pd22{
  padding-right: 2px;
  padding-left: 2px;
}
.responsiveHeader{
  display: none;
}
.d-none{
  display: none;
}
.footerDesNone{
  display: none;
}
.redDiv{
  border-radius: 10px;
  background-color: rgba(246, 48, 63, 0.65);
  bottom: 5%;
  right: 3%;
  position: absolute;
  padding: 10px 15px;
}
.redDiv p{
  font-family: IRANSans-Bold;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0px;
}
.BCategoryDesNone{
  display: none;
}
.paginationBox{
  width: 100%;
margin-right: auto;
margin-left: auto;
display: flex;
justify-content: center;
margin-top: 20px;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root{
  font-family: IRANSans !important;
  margin: 0px 10px !important;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #f6303f !important;
  color:#fff !important;
  border: none !important;
}
.compareCardDiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.EachCategoryRow{
  display: flex;
}
.EachCategoryCol1{
  width: 15%;
  padding-right: 15px;
  padding-left: 15px;
}
.EachCategoryCol2{
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
}
.categoryDesNone{

display: none;
}
.systemGuideCard{
  width: 325px;
  margin-bottom: 20px;
}

/***************cartStep1**********/
.cartDiv{
  display: flex;

}
.cartCol1{
  width: 73.5%;


  margin-left: 0.5%;
}
.whiteBoxCart{
  background-color: #fff;
  border-radius: 10px;
}
.cartCol2{
  width: 25.5%;
  margin-right: 0.5%;


}
.pd30{
  padding:30px;
}
.CartContainer{
  padding:4% 7%;
}
.CartTitle{
  font-family: IRANSans-Bold;
  font-size: 15px;
  margin-bottom: 30px;
}
.priceRowCart{
  display: flex;
  justify-content: space-between;
}
.priceRowCart p{
  font-family: IRANSans-Bold;
  font-size: 15px;
  margin-bottom: 0px;
}
.CartProductName{
  font-family: IRANSans-Bold;
  color: #111;
  font-size: 20px;
}
.CartProductImg{
  width: 120px;
  height: 120px;
  padding: 5px;
  border: 1px solid;
  margin-left: 15px;
}
.pd4{
  padding: 25px;
}
.CartColor{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #06cdae;
  border: 1px solid #a0a0a0;
  padding: 2px;
  margin-left: 15px;
}
.CartColorP{
  font-family: IRANSans;
  font-size:15px;
  margin-bottom: 0px;
}
.counterDiv{
  border: 1px solid #a7a7a7;
  width: 72px;
  border-radius: 5px;
  padding: 5px;
  font-family: IRANSans;
  color: #ff004e;
  margin-right: 20px;
}
.decBTN{
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: #ff004e;
}
.inBTN{
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #ff004e;
}
.colorRed{
  color: #ff004e;
}
.borderRight{
  border-right: 1px solid #f4f4f4 !important;
}
.w30{
  width: 30%;
}
.specialPrice{
  margin-top: 5px;}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  width: 25%;
}
.css-140puxv-MuiTypography-root-MuiDialogTitle-root{
  padding-right: 50px;
  font-family: IRANSans-Bold !important;
}
.css-d3wcwz-MuiTypography-root{
  font-family: IRANSans-Medium !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  font-family: IRANSans !important;
}
.specialPrice{
  margin-top: 5px;
}
.css-2ulfj5-MuiTypography-root{
  font-family: IRANSans-Bold !important;
  font-size: 15px !important;
}
.save-btn-single{
  position: absolute;
  background-color: transparent !important;
  padding: 0px !important;
  border: none !important;
  top: 0px;
  left:5%;
}
.save-btn-single:hover svg{

}
.save-btn:hover svg .Icon_awesome-plus, .save-btn:hover {
  fill: #fff !important;
  color: #fff !important;
}

.save-btn:hover svg path{
  fill: #E74868;
  color: #E74868;
}
.redBox2 p{
  font-family: IRANSans;
}
.left5{
  left: 15% !important;
}
.addTicketBtn:hover{
  color: #fff !important;
  background-color: #ff004e !important;
}
.h40{
  height: 30px;
border-radius: 5px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}

.serviceForm{
  padding:2% 0% 2% 0% !important;
}
.cFormDiv span{
  font-size: 12px !important;
}
.cFormDiv svg{
  font-size: 8px !important;
}
.cFormDiv input, .cFormDiv textarea{
  font-size: 10px !important;
}
.cFormDiv3 p{
  font-family: IRANSans-Bold;
  margin-left: 15px;
  margin-bottom: 0px;
}
.tableFirstRow{
  font-family: IRANSans-Bold;
  background-color: #ff004e;
  border: none !important;
  border-radius: 5px;
  color: #fff !important;
}
.tRow{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.tableFirstRowText{
  font-family: IRANSans-Light;
  color: #111;
  margin-bottom: 5px !important;
}
.vl{
  border-left: 1px solid #111;
  height: 20px;
  margin-right: 75px;
}
.assembleImg{
  height: 60px;
  width: 60px;
  border: 1px solid #111;
  padding: 5px;
  margin-left: 15px;
}
.miniText2{
  color: #a0a0a0;
  font-family: IRANSans-Light;
  margin-bottom: 0px !important;
}
.productAssembleName{
  font-family: IRANSans-Bold;
  margin-bottom: 5px !important;
}
.buyAssembleBtn{
  background-color: #f6303f;
  border: none;
  font-family: IRANSans;
  color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
}
.padding20{
  padding: 20px;
}
.hoshdar{
  color: #ff004e;
  font-family: IRANSans-Bold;
  margin-left: 20px;
}
.MediumFont{
  font-family: IRANSans-Medium !important;
}
.orange{
  color:#f78300 !important;
}
.backBlue{
  background-color: #25bddc;
}
.pd20{
  padding: 10px 25px;
}
.mr100{
  margin-right: 100px;
}
.w240{
  width: 240px;
}
.factorTable{
  border: 1px solid #707070;
  border-radius: 5px;
}
.pdtb10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.colorWhite{
  color: #fff !important;
}
.fontWeightM{
  font-family: IRANSans-Medium !important;
  color: #111;
  font-size: 15px;}
.glassBtn2{
  background-color: transparent !important;
  color: #ff004e !important;
  font-family: 'IRANSans';
  border: none !important;
}
.desktopSerachBox{
  margin: 10px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 5px;
  background-color: #fff;
    text-align: right;
    border: 1px solid #707070;
    border-radius: 5px;
}
.desktopSerachBox input{
  border: none !important;
  width: 100%;
  border: none !important;
    width: 90%;
    margin-right: 2%;
}
.addAseembleBtn{
  background-color: transparent !important;
  border:1px solid #ff004e;
  color: #ff004e;
  font-family: "IRANSans";
  font-size: 12px;
}
.completedCard a{
  text-decoration: none !important;
}
.bottomIcon{
  color: #000;
}
.wB20{
  width: 20%;
}
.wB60{
  width: 60%;
}
.wB10{
  width: 10%;
}
.wB15{
  width: 15%;
}
.wB65{
  width: 65%;
}
.BestSellingCard a{
  text-decoration: none !important;
}
.addToCart :hover{
  background-color: transparent !important;
  border: 1px solid #ff004e !important;
  color:#ff004e !important;
}
.addToCart  .btn-primary:hover{
  background-color: transparent !important;
  border: 1px solid #ff004e !important;
  color:#ff004e !important;
}
.btn-primary:hover{
  background-color: transparent !important;
  border: 1px solid #ff004e !important;
  color:#ff004e !important;
}
.factorLogo{
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}
.factorHeader{
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.tableBorderLeft{
  border-left: 1px solid #d4d4d4;
}
.pdTable{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}
.pdTable2{
  padding: 15px;
}
.borderBottomTable{
  border-bottom: 1px solid #d4d4d4;
}
.topBarTable{
  background-color: rgb(202, 202, 202);
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.backGray{
  background-color: rgb(202, 202, 202);
  padding: 10px 15px;
}
.fontWeightBold2{
  font-family: "IRANSans-Bold";
  color:#111;
  font-size: 14px;
}
.fontWeightNormal2{
  font-family: "IRANSans";
  color:#111;
  font-size: 12px;
}
.pd15{
  padding: 15px;
}
.backBlueLight{
  background-color: #24e0ff2b;
}
.pdM{
  padding: 15px;
}
.tt2{
  width: 100%;
}
.tt3{
  width: 100%;
}
a:hover{
  text-decoration: none !important;
  
}
 body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
} 
body.light-mode .Header {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode .Header {
  background-color: #1a1919;
  color: #999;
} 
body.light-mode .mainBack {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode .mainBack {
  background-color: #1a1919;
  color: #999;
} 

body.dark-mode .bannerRow{
  background-color: #1a1919;
}

body.dark-mode .customRow{
  background-color: #1a1919;
}
body.dark-mode .backWhite{
  background-color: #fff;
}
body.dark-mode .colorBlack{
  color: #fff !important;
}
body.dark-mode .blogCardTitle{
  color: #fff !important;
}
body.dark-mode .blogDescription{
  color:#fff;
}
body.dark-mode .weblogSliderCard{
  background-color: #1a1919;
  border: 1px solid #f4f4f4;
}
body.dark-mode .bestSellingDiv{
  background-color: #1a1919;
}
body.dark-mode .BestSellingCard{
  background-color: #fff;
  margin-bottom: 80px;
}
body.dark-mode .productName{
  color:#1a1a1a;
}
body.dark-mode .grayPrice{
  color:#1a1a1a;
}
body.light-mode svg {
 /* fill:#000;
 stroke: #000; */
}
body.dark-mode svg {
 fill:#fff;
 stroke: #fff; 
} 
body.dark-mode  .specialOfferTitle{
  color: #ff004e;
}
body.dark-mode  .headerBtn{
  color: #fff;
}
body.light-mode .specialOfferTitle{
  color: #ff004e;
}
body.dark-mode  .MainMenuBtn {
  color: #fff;
}
body.dark-mode .errorPage{
  background-color: #1a1919;
} 
body.dark-mode .errorPageText{
  color: #fff;
}
body.dark-mode .commingsoonText{
  color: #fff;
}

body.dark-mode .EachCategoryContainer{
  background-color: #1a1919;
} 
body.dark-mode .grayB{
  background-color: #1a1919;
}
.specialOfferTitle.light-mode{
  font-family: IRANSans-Bold;
  color: #f6303f;
  font-size: 30px;
  display: inline-block;
} 
.EachCategoryContainer{
  padding-bottom: 25px;
}
.SingleProduct{
  background-color: #f4f4f4;
}
body.dark-mode .SingleProduct{
  background-color: #1a1919;
}
body.dark-mode .CartContainer {
  background-color: #1a1919;
}
body.dark-mode .categoryBTN{
  color: #fff;
}
body.dark-mode .UserPanelContainer {
  background-color: #1a1919;
}
body.dark-mode .sliderTitle{
  color: #fff;
}
body.dark-mode .sliderSlogan{
  color: #fff;
}
body.dark-mode .sliderDescription{
  color: #fff;
}
body.dark-mode .mainHeader{
  background-color: #1a1919;
}
body.dark-mode .grayBack{
  background-color: #1a1919;
}
body.dark-mode .firstLineStatistic{
  color: #fff;
}
body.dark-mode .whyRogstrix{
  background-color: #1a1919;
}
body.dark-mode .boxTitle{
  color: #fff;
}
body.dark-mode .firstLine3{
  color: #fff;
}
body.dark-mode .secondLine3{
  color: #fff;
}
body.dark-mode .bestSellerContainer{
  background-color: #1a1919;
}
 .sliderTiltleBottom{
   font-family: "IRANSans";
 }
.specialOfferTitle.dark-mode{

  color: #ffb921;
}
.mi .btn-check{
  display:none;
}
.mi{
  margin:15px;
}
.mi .btn-primary{
  background-color: #ff004e;
  background: #ff004e;
  border: none !important;
}
.mi button{
  background-color: transparent;
  border: 1px solid #ff004e;
  box-shadow: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #ff004e;
}
.navbar-collapse {
  position: fixed;
  top: 0px;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 75%;
  height: 100%;
}

.navbar-collapse.collapsing {
  right: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  right: 0;
  transition: right 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: right 500ms ease-in-out;
}
#responsive-navbar-nav{
  background-color: #fff;
  z-index: 10000;
  padding-top: 5%;
  font-family: 'IRANSans';
}
#responsive-navbar-nav .dropdown-menu{
  border: none !important;
}
.wi10{
  width: 10%;
}
.wi15{
  width: 15%;
}
.wi50{
  width: 50%;
}
.wi5{
  width: 5%;
}
.exclusiveSliderCard{
  width: 100px;
}
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #f4f4f4;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  text-align: right;
  margin-top: -5px;
}

.suggestions li {
  padding: 15px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ff004e;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  
}
.responsiveRog{
  display: none;
}
.firstSlider{
  display: block;
}
.suggestionRes{
  background-color: #fff !important;
  z-index: 100000;
  width: 165px !important;
}

.suggestionRes .suggestions{
  width: 100% !important;
} 
.suggestionRes .suggestions p{
font-size: 10px !important;
font-family: 'IRANSans';
}
.slick-slider{
  direction: rtl !important;
}
.MuiSlider-sizeMedium{
  width: 80% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.newProductName:hover{
  cursor: pointer;
}