.MainPageSliderImg{
    width: 100%;
}
.MainPageSlider .swiper-button-next{
    left: 0% !important ;
    color:transparent !important;

    background-size: auto;
    border: 1px solid #707070;
    padding: 50px 15px;
    bottom: 50%;
    background-image:url('../../../../assets/img/MainSliderLeft.png') !important;
  }
  .MainPageSlider .swiper-button-prev{
   border: 1px solid #707070;
    bottom: 50%;
    right: 0% !important ;
    color:transparent !important;
 
    background-size: auto;
    padding: 50px 15px;
    background-image:url('../../../../assets/img/MainSliderRight.png') !important;
  }
  .MainPageSlider .swiper-pagination-bullet {
    width: 80px;
    height: 8px;
    display: inline-block;
    border-radius: 25px;
 background-color: #BBBBBB;
    opacity: 1;
  }
  .MainPageSlider .swiper-pagination-bullet-active{
      background-color: #F6303F;
      opacity: 1;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: 30px !important;
  }
  @media screen and (max-width:1000px){
    .MainPageSlider .swiper-pagination-bullets{
      display: none !important;
    }
    .MainPageSlider{
      height: 25vh;
    }
   .MainPageSlider .swiper-slide{
      width: 100% !important;
      height: 100% !important;
    }
    .MainPageSliderImg{
      width: 100% !important;
    height: 100% !important;
    }
    .colSpecial1{
      flex: 0 0 25%;
max-width: 25%;
    }
    .colSpecial2{
      flex: 0 0 75%;
max-width: 75%;
    }
    .colSpecial3{
      display: none !important;
      flex: 0 0 0%;
max-width: 0%;
    }
    .colSpecial1{
      flex: 0 0 40%;
      max-width: 40%;
    }
    .colSpecial2{
      flex: 0 0 60%;
      max-width: 60%;
    }
    
    .resTaCenter{
      text-align: right;
    }
    .seeAllDiv{
      padding: 0px;
    }
    .bannerRow{
      padding: 0.8rem;
    }
    .bannerBackground{
      padding: 10px;
    }
  }
  @media screen and (max-width:450px){
  .colSpecial1{
    flex: 0 0 100%;
max-width: 100%;
  }
  .colSpecial2{
    flex: 0 0 100%;
max-width: 100%;
  }
}