.weblogSlider .swiper-button-next{
    left: 0% !important ;
    color:transparent !important;
    background-color: rgba(246, 48, 63, 0.25);
    background-size: contain;
    width: auto !important;
    bottom: 40%;
    background-image:url('../../../../assets/img/newsLeft.png') !important;
   
  }
  .weblogSlider .swiper-button-prev{
    background-color: rgba(246, 48, 63, 0.25);
    bottom: 40%;
    right: 0% !important ;
    color:transparent !important;
 width: auto !important;
    background-size: contain;
    background-image:url('../../../../assets/img/newsRight.png') !important;
  
  }
  .weblogSlider{
    margin-top: 20px;
  }
  .weblogSliderCard{
    background-color: #fff;
    padding:1rem 2rem;
    border: 1px solid #e8e8e8;
  }
  .weblogSliderCard img{
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 180px;
  }
  
  .specialSliderCardBox{
    position: relative;
  }
  .productName{
    font-size: 16px;
    font-family: IRANSans;
    color:#1a1a1a;
    margin-top: 30px;
    text-align: right;
  }
 
  .pd0{
    padding: 0px;
  }

  .marginTop30{
    margin-top: 30px;
  }
  .grayStrokeOut{
    text-decoration: line-through;
    font-family: IRANSans-Light;
    color: #898989;
  }
  .grayPrice{
    color:#000;
    font-family: IRANSans-Medium;
  }
  .seeAllCards{
    color: #f6303f;
    font-family: IRANSans-Light;
    text-decoration: none;
    font-size: 14px;
  }
  .seeAllCards:hover{
    text-decoration: none;
    color: #f6303f;
  }
  .pad0{
    padding: 0px;
  }
  .marginTop20{
    margin-top: 20px;
  }
  .weblogSliderCard{
    border: 1px solid #1a1a1a;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .weblogSliderCard img{
    width: 100%;
  }
  .blogCardTitle{
    color: #434249;
    font-family: IRANSans-Medium;
    font-size: 22px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .blogCardDetail p{
    margin-bottom: 0px !important;
    font-size: 12px;
    color: #b2b2b2;
    font-family: IRANSans-Light;
    margin-right: 12px;
  }
  .mr10{
    margin-right: 10px;
    margin-left: 10px;
  }
  .blogDescription{
    color: #616161;
    font-family: IRANSans-Light;
    font-size: 14px;
    margin-top: 30px;
  }